#data
quakeml
simulation/OUTPUT_FILES*
simulation/DATABASES_MPI
simulation/SEM
#simulation/DATA/CMTSOLUTION
#simulation/DATA/STATIONS
simulation/DATA/STATIONS_ADJOINT
simulation/DATA/topo_bathy
simulation/DATA/crust2.0
simulation/DATA/s20rts
simulation/DATA/s40rts






adjoint_source_*.png
